<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>
<p>
  <strong>URL:</strong>
  <%= @link.url %>
</p>

<p>
  <ul>
    <% @link.comments.each do |comment| %>
      <li>
        <%= comment.body %><br />
        <%= comment.user.email unless comment.user.blank? %>
        <% if user_signed_in? %>
          <% if is_comment_owner? comment %>
            <%= link_to 'Delete', [@link, comment], method: :delete %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <% if user_signed_in? %>
    <%= form_for [@link, Comment.new] do |f| %>
      <%= f.label :comment %>
      <%= f.text_area :body %>
      <%= f.submit "Comment" %>
    <% end %>
  <% else %>
    <%= link_to 'Sign in to Comment', new_user_session_path %>
  <% end %>
</p>

<%= link_to 'Back', links_path %>


